*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
@media screen and (min-width:320px) and (max-width:480px){
    header{
        flex-direction: column;
        width: 100%;
    }
    header .contact{
        flex-direction: column;
        
    }
    header .logbtn{
        margin: 20px auto;
    }
   
    .contact .email, .contact .phone{
        margin: 0;
    }
    nav{
        flex-direction: column;
        padding: 0;
        width: 100%;
    }
    nav img {
        width: 200px;
        height: 80px;
        margin: 0 auto;
    }
    nav .navbar{
        flex-wrap: wrap;
    }
    .search{
        margin: 20px 20px;
    }
    .slide{
        padding: 0;
        height: 60vh;
    }
    .slide h2{
        font-size: 20px;
        padding: 20px 0;
    }
    .slide h1{
        font-size: 30px;
    }
    .slide p{
        font-size: 17px;
        margin: 20px;
    }
    .btn{
        padding-left: 0;
    }
    .btn .learn{
        padding: 10px 15px;
        margin: 15px auto;
    }
    .btn .learn a, .btn .learn i{
        font-size: 15px;
    }
    .shiping{
        height: 320vh;
    }
    .shiping .transport {
        display: block;
        margin: 0 20px;
        padding: 0;
        top: 190px;
    }
    .transport > div{
        /* margin: 30px 0; */
        margin-top: 20px;
    }
    .shiping .transport .transport1 .content, .shiping .transport .transport2 .content, .shiping .transport .transport3 .content{
        padding: 30px;
    }

    .shiping .top h2 {
        padding-top: 0px;
        font-size: 25px;
    }
    .shiping .top h2::before, .shiping .top h2::after {
        top: 44%;
        width: 40px;
    }
    .content h3::after {
        right: 160px;
    }
    .top h2::before {
        left: 18px;
    }
    .top h2::after {
        right: 18px;
    }
    .service .track{
        flex-direction: column;
        padding: 20px;
    }
    .service .track .box1 .info1 p {
        line-height: 1.3;
        letter-spacing: 0.2px;
        margin-bottom: 20px;
        text-align: justify;
        /* width: 280px; */
    }
    .service .track .box1 .info2{
        margin: 0;
    }
    .service .track .box1 .info2 i{
        margin-right: 0;
    }
    .service .track .box1 .info2{
        font-size: 13px;
        margin: 8px 0px;
    }
    .info3 form{
        text-align: center;
    }
    .service .track .box1 .info1 h2, .info3 form h2 {
        font-size: 18px;
    }
    .info3 form input{
        /* display: block; */
        padding: 10px 20px;
        /* margin: 10px 15px; */
    }
    .service{
        height: 290vh;
    }
    .service .track .box1, .box2{
        height: 630px;
        width: 100%;
        margin: 0;
    }
    .info3 form button{
        margin: 10px;
        /* margin-left: 70px; */
        font-size: 15px;
        padding: 10px 50px;
    }
    .service .track .box2 .card {
        width: 282px;
        margin: 20px 0;
    }
    .service .track .box2{
        display: block;
        justify-items: center;
    }


    .choose{
        padding: 50px 0;
    }
    .choose .goods{
        display: block;
        margin: 0;
        justify-items: center;
    }
    .choose .goods .system img {
        width: 250px;
        height: 200px;
    }
    .choose .goods .system ul p {
        margin-bottom: 5px;
        font-size: 15px;
    }
    .choose .heading p{
        margin: 0 30px 30px 30px;
    }
    .offer{
        margin: 0;
    }
    .offer h1 {
        font-size: 28px;
    }
    .offer h2{
        margin-left: 20px;
    }
    .benefits{
        font-size: 15px;
        padding: 8px 52px;
        display: block;
        margin: 0;
    }
    .main {
        height: 128vh;
    }
    .main .box {
        width: 0;
        height: 450px;
        margin: 0;
        display: inline;
    }
    .main .box .box1 .shape{
        margin: 16px 0;
    }
    .main .box .box1 .shape .shape1 {
        width: 90px;
        height: 80px;
    }
    .pricing{
        height: 300vh;
    }
    .pricing .upper{
        margin: 20px;
    }
    .purchase{
        top: 140px;
        margin: 0;
        display: block;
        justify-items: center;
    }
    .purchase .price{
        height: 85vh;
        margin: 20px;
        /* background-color: red; */
        width: 280px;
        border: 1px solid gray;
        border-radius: 10px;
        
    }
    .quotation{
        flex-direction: column;
        height: 275vh;
    }
    .quotation .faq {
        padding: 30px 20px;
        width: 100%;
    }
    .quotation .get {
        width: 100%;
    }
    .quotation .get .quote {
        margin: 40px 0;
    }
    .quotation .get .quote .request{
        margin: 40px 0;
    }
    .quotation .get .quote .form{
        flex-direction: column;
    }
    .quotation .get .quote .form .left input {
        /* width: 125px; */
        width: 85%;
        margin: 20px;
    }
    .quotation .get .quote .form .left select {
        width: 85%;
        margin: 20px;
    }
    .quotation .get .quote form a{
        margin-left: 30%;
    }
    .team{
        margin: 0;
        /* margin-top: 100px; */
    }
    .team .meet {
        padding: 0;
        margin: 0;
    }
    .team .card{
        margin: 50px 0;
        flex-direction: column;

    }
    .team .card .member{
        margin: 51px 10px;
    }
    .team .card .member .firstHalf {
        width: 100%;
        height: 155px;
        overflow: hidden;
    }
    .team .card .member .firstHalf .client{
        top: -18%;
        left: 22%;
    }
    .project .done i {
        font-size: 30px;
        /* color: white; */
        margin-bottom: 10px;
    }
    .project .done {
        margin: 20px 0;
    }
    .project .done h1{
        font-size: 28px;
    }
    .project .done h4{
        font-size: 12px;
    }
    .client .meet{
        margin: 30px 16px
    }
    .client .card{
        margin: 0;
        flex-direction: column;
    }
    .client .card .member .firstHalf {
        overflow: hidden;
    }
    .client .card .member .firstHalf .client1 {
        left: 22%;
    }
    .latest {
        height: 355vh;
    }
    .latest .transport {
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
        margin: 0 20px;
        top: 200px;
    }
    .latest .transport .transport1 a, .latest .transport .transport2 a, .latest .transport .transport3 a{
        top: 250px;
        left: 64%;
    }
    .subscribe form {
        padding: 48px 20px;
    }
    .subscribe{
        height: 18%;
    }
    .subscribe form input{
        font-size: 19px;
        padding: 6px;
        width: 91%;
        margin-bottom: 20px;
    }
    .subscribe form a {
        font-size: 15px;
        padding: 9px 57px;
    }
    footer .foot{
        padding: 10px 20px;
        text-align: center;
        flex-direction: column;
        /* display: inline; */
    }
    footer .foot .info p{
        text-align: justify;
    }


    .aboutCompany .heading {
        padding: 35px 9px;
    }
    .aboutCompany .head{
        padding: 10px 48px;
    }
    .about{
        height: 175vh;
        flex-direction: column;
    }
    .about .faq{
        margin: 20px;
        padding: 0;
    }
    .about .about2 img{
        width: 300px;
        height: 250px;
        /* margin-left: 20px; */
        margin: 20px 0 20px 40px;
    }


    .who{
        height: 150vh;
        flex-direction: column;
        padding: 0;
    }
    .who .are, .frame {
        width: 85%;
        margin: 20px;
    }
    .who .are p{
        line-height: 1.2;
    }

    .amazing {
        height: 240vh;
    }
    .amazing .ourService{
        padding: 0;
        margin: 50px 20px 0 20px;
    }
    .amazing .boxes{
        margin: 0;
        padding: 0;
        flex-direction: column;
    }
    .free{
        flex-direction: column;
        height: 220vh;
    }
    .free .get {
        width: 100%;
        height: 150vh;
    }
    .free .get .quote{
        margin: 0;
    }
    .free .get .quote .form{
        flex-direction: column;
    }
    .free .get .quote .form .left input {
        width: 90%;
        margin: 20px 10px;
        font-size: 16px;
    }
    .free .get .quote .form .left select {
        width: 90%;
        margin: 20px 10px;
        font-size: 16px;
    }
    .aboutCompany .heading h1{
        font-size: 35px;
    }
    .grid .top h2{
        padding: 0;
    }
    .grid .best > div{
        width: 100%;
    }
    .aboutCompany .heading a{
        font-size: 12px;
    }
    .aboutCompany .heading p{
        font-size: 16px;
    }
    
.free .get .quote form a {
    margin-left: 30%;
}
    .free .get .quote .request{
        margin: 40px 0;
    }
    .free .pic {
        width: 100%;
        height: 35%;
    }

    .tracking .store{
        flex-direction: column;
    }
    .tracking {
        height: 200vh;
    }
    .tracking .store .mobile {
        width: 85%;
        height: 50%;
        margin: 20px;
    }
    .tracking .store .app p {
        text-align: justify;
        line-height: 1.6;
        margin: 0;
    }
    .tracking .store .app {
        width: 100%;
        height: 15%;
        text-align: center;
        padding: 0 20px;
    }
    .tracking .store .app h1 {
        font-size: 47px;
        margin-top: 40px;
    }

    .latestService {
        height: 650vh;
    }
    .latestService .transport {
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
        margin: 0 20px;
        top: 200px;
    }
    .give .best{
        grid-template-columns: repeat(1, 1fr);
        margin: 0 20px;
    }
    .give {
        height: 335vh;
    }
    .give .top {
        height: 13%;
    }
    .about iframe {
        width: 90%;
        height: 35vh;
        margin: 20px;
    }
    .grid {
        height: 545vh;
    }
    .grid .best{
        grid-template-columns: repeat(1, 1fr);
    }
    .grid .top {
        height: 5%;
    }
    .location .our {
        margin: 0;
        text-align: center;
    }
    .location .find {
        flex-direction: column;
        height: 75%;
    }
    .aircraft .transportation {
        margin: 0;
        flex-direction: column;
    }
    .aircraft .transportation .div1{
        width: 100%;
    }
    .aircraft .transportation .div1 .great .great2 .on{
        flex-direction: column;
    }
    .aircraft .transportation .div1 .great .great2 .on > div{
        margin: 5px 0;
    }
    .aircraft .transportation .categories{
        width: 100%;
    }
    .categories .building{
        margin: 20px 30px;
        padding: 10px;
    }
    .categories .news{
        margin: 20px 30px;
        padding: 10px;
    }
    .categories .tags{
        margin: 20px 30px;
        padding: 10px;
    }
    .categories .company{
        margin: 20px 30px;
        padding: 10px;
    }
    .categories .agent{
        margin: 20px 30px;
        padding: 10px;
    }
    .categories .agent .call .group{
        flex-direction: column;
    }
    .categories .agent .call .group a {
        margin-top: 10px;
    }
    .aircraft {
        height: 900vh;
    }
    .location .find .city::after{
        display: none;
    }
    .location .find .city {
        width: 100%;
        height: 150vh;
    }
    .location .find .map {
        width: 100%;
        margin: 0;
    }
    .location .find .city form .title{
        margin: 0 5px;
    }
    .location .find .city form select{
        margin: 10px;
        width: 80%;
        font-size: 15px;
    }
    .location .find .city form input {
        margin: 10px;
        width: 80%;
        font-size: 15px;
    }
    .location .find .city form a{
        padding: 10px 20px;
        font-size: 18px;
        margin-top: 10px;
    }
    .location{
        height: 125vh;
    }
    .expert{
        flex-direction: column;
        height: 150vh;
    }
    .expert .message{
        width: 100%;
        padding: 10px;
    }
    .expert .message .lorem{
        margin: 10px 0;
        padding: 0;
    }
    .expert .message .logo{
        margin: 0;
        padding: 10px;
    }
    .expert .send{
        margin: 10px;
        width: 92%;
        height: 80%;
    }
    .expert .send form h2{
        font-size: 18px;
    }
    .expert .send form input{
        margin: 10px;
        width: 90%;
        font-size: 15px;
    }
    .expert .send form .send{
        margin: 10px 90px;
       

    }
    
    

}



